<!-- DO NOT MODIFY -->
<div class="container">
  <h1>Simple Simon Says</h1>

  <input type="submit" value="Click me"id="get_color" action="/color" method="post">
</div>

<ul id="color_me">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
